body{width :90%;height:100%;}

.content{ width:90%;margin: 0 auto;}
table {
    border :2px solid grey;
    border-collapse:collapse;
    border-spacing:0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    user-focus: none;
    user-select: none;
}

table tr td
{
    width:14%;
    height:58px;
    padding: 0;
    text-align: center;
    user-focus: none;
    user-select: none;
}
table tr:first-child{

    border-bottom: 2px solid grey;
}

table tr td a{

    display: inline-block;
    border:1px solid blue;
    background-color: #0CCEA2;
    width: 60px;
    height:28px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
}
