body{

    width: 100%;
    height: auto;
    background-color: #a2a2a2;
}

.usercontent{

    width: 60%;
    height: 80%;
    margin: auto;
}
.usercontent h1{
    text-align: center;
    user-focus: none;
    user-select: none;
}
.usercontent .logcontent
{
    width: 60%;
    height:40%;
    margin: auto;
    font-size: 22px;
}

.usercontent .logcontent div
{
    margin: 20px 20px 10px 10px;
    width: 80%;
    height:60px;
    cursor: pointer;
    user-focus: none;
    user-select: none;
}
.usercontent .logcontent span
{
    margin-left: 15px;
    margin-top:15px;
    width: 100px;
    height:40px;
    text-align: left;

}
.usercontent .logcontent input
{
    margin-left: 20px;
    margin-top:15px;
    width: 220px;
    height:32px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    user-focus: none;
    user-select: none;
}
.usercontent .logcontent input[type=button]
{
    margin-left: 100px;
    width: 120px;
    height: 42px;
    color:white;
    background-color: #2a85a0;
    cursor: pointer;
}