<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<link rel="icon" href="images/n9.ico" type="image/x-icon">
<head>
    <title>皇庭赛马</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/Run.js"></script>
    <link rel="stylesheet" href="css/Horse.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body ondragstart="return false;" oncontextmenu="return false;">
<div class="frame">
    <div class="mainbox">
        <div class="top">
            <img src="images/ty.gif" alt="">
        </div>
        <div class="maincontent">
            <div class="content">
                <table class="tablemain" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td class="left top"></td>
                        <td>6</td>
                        <td>5</td>
                        <td>4</td>
                        <td>3</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td class="left">1</td>
                        <td onclick="f_addBtm(this)"><span class="btm">4</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">10</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">5</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">3</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">30</span><span class="tzs" hidden>0</span></td>
                    </tr>
                    <tr>
                        <td class="left">2</td>
                        <td onclick="f_addBtm(this)"><span class="btm">20</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">60</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">80</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">125</span><span class="tzs" hidden>0</span></td>
                    </tr>
                    <tr>
                        <td class="left">3</td>
                        <td onclick="f_addBtm(this)"><span class="btm">100</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">175</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">250</span><span class="tzs" hidden>0</span></td>
                    </tr>
                    <tr>
                        <td class="left">4</td>
                        <td onclick="f_addBtm(this)"><span class="btm">500</span><span class="tzs" hidden>0</span></td>
                        <td onclick="f_addBtm(this)"><span class="btm">1000</span><span class="tzs" hidden>0</span></td>
                    </tr>
                    <tr>
                        <td class="left">5</td>
                        <td onclick="f_addBtm(this)"><span class="btm">200</span><span class="tzs" hidden>0</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="odds">
                <div class="odcontent">
                    <span class="otitle">Last 5 ODDS</span>
                    <ul>
                        <li><span class="oma">1-2</span><span class="obtm">8</span></li>
                        <li><span class="oma">5-6</span><span class="obtm">10</span></li>
                        <li><span class="oma">3-4</span><span class="obtm">20</span></li>
                        <li><span class="oma">4-5</span><span class="obtm">100</span></li>
                        <li><span class="oma">3-6</span><span class="obtm">200</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foot">
            <div><span>Won:</span><a class="win">0</a></div>
            <div><a class="run" href="javascript:;" onclick="f_runHorse()">Start</a></div>&nbsp; &nbsp;
            <div><span>Coins:</span><a class="coins">0</a></div>
        </div>
    </div>
    <div class="right">
        <div hidden><span class="pho"></span></div>
        <div hidden><span class="ycode" th:text="${ycode}"></span></div>
        <div class="login"><a href="javascript:;" onclick="f_show_login()" id="logi">登录</a></div>
        <div class="recharg"><a href="javascript:;" onclick="f_show_cz()">金币充值</a></div>
        <div class="withdraw"><a href="javascript:;" onclick="f_show_tx()">金币提现</a></div>
        <div><span>信息清单</span></div>
        <div><textarea class="ms-info" cols="1" rows="10"></textarea></div>
    </div>
</div>
<div class="pop-bg"></div>
<div class="login-pop">
    <div class="login-title" onclick="f_close()"><h2>用户登录</h2><span class="closeBtn"></span></div>
    <div class="login-content">
        <div class="column"><span>手机号:</span><input type="text" id="pho" placeholder="国外用户:+国家码手机号"/>
        </div>
        <div class="column"><span>验证码:</span><input type="text" id="scode" placeholder="4位验证码"/>
            <input type="button" class="sendsms" onclick="f_sendsms()" value="发送"/>
           </div>
        <div class="column"><input type="button" class="login-btn" value="登录" onclick="f_login()"/></div>
    </div>
</div>
<div class="run-pop">
    <div class="content">
        <img class="runpic" alt="图片加载失败"/>
        <span class="showBtm"></span>
        <span class="zindex" hidden></span>
    </div>
</div>
</div>
<div class="cz-pop">
    <div class="login-title" onclick="f_close()"><h2>用户充值</h2><span class="closeBtn"></span></div>
    <div class="content">
        <div class="czcol"><span>充值用户:</span><span class="user">***</span></div>
        <div class="czcol"><span>充值金额:</span><select class="czje">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
        </select><span>(元)</span></div>
        <div class="czcol"><a class="czqr" href="javascript:;" onclick="f_user_cz()">确认充值</a></div>
    </div>
    <div class="czdz">
        <div class="rcol"><a>支付宝充值</a></div>
        <div><img src="images/alicode.png"/></div>
    </div>
</div>

<div class="tx-pop">
    <div class="login-title" onclick="f_close()"><h2>用户提现</h2><span class="closeBtn"></span></div>
    <div class="content">
        <div class="czcol"><span>提现用户:</span><span class="user">***</span></div>
        <div class="czcol"><span>提现金币:</span><input type="text" class="txsl"/><span class="maxtx">(100)</span></div>
        <div class="czcol"><a class="czqr" href="javascript:;" onclick="f_user_tx()">确认提现</a></div>
    </div>
    <div class="txdz">
        <div class="rcol"><a>支付宝收款</a></div>
        <div><img :src="images/zfb_unload.jpg"/></div>
        <input id="cert" type="file" />
        <input type="button" value="上传文件" onclick="submit2()"/>
    </div>
</div>
<div class="msg-pop">
    <div class="login-title" onclick="f_close_msg()"><h2>消息提示</h2><span class="closeBtn"></span></div>
    <div class="mscol"><span class="showMsg"></span></div>
</div>
<audio>
    <source src="images/run.MP3" type="audio/mpeg">
</audio>
</body>
</html>