<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yrxc.horse.mapper.LoginMapper">

    <select id="selectByName" parameterType="com.yrxc.horse.entity.Login" resultType="com.yrxc.horse.entity.Login">
        select * from th_user_log_new where uname=#{uname}  and scode =#{scode} and date(indate)=date(now()) limit 1;
    </select>
    <select id ="selectById" parameterType="Long" resultType="com.yrxc.horse.entity.Login">
            select * from th_user_log_new where id =#{id}
    </select>
    <select id="selectAll" resultType="com.yrxc.horse.entity.Login">
        select * from th_user_log_new order by indate desc;
    </select>
    <insert id="insertLogin" parameterType="com.yrxc.horse.entity.Login" >
        insert into th_user_log_new(id,uname,indate,ip,logstat,scode,ycode)
        values(#{id},#{uname},#{indate},#{ip},#{logstat},#{scode},#{ycode});
    </insert>
</mapper>