<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yrxc.horse.mapper.UserMapper">
    <resultMap id="userType" type="com.yrxc.horse.entity.User">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="uname" property="uname" jdbcType="VARCHAR"/>
        <result column="regip" property="regip" jdbcType="VARCHAR"/>
        <result column="regdate" property="regdate" jdbcType="DATE"/>
        <result column="ycode" property="ycode" jdbcType="VARCHAR"/>

    </resultMap>
    <select id="selectAll" resultType="com.yrxc.horse.entity.User">
        select * from th_user_new ;
    </select>
    <select id="selectByName" parameterType="String" resultType="com.yrxc.horse.entity.User">
        select * from th_user_new where uname=#{uname} limit 1;
    </select>
    <select id="selectCoins" parameterType="String" resultType="int">
        select ifnull(coins,0) from th_user_new where uname=#{uname} limit 1 ;
    </select>
    <select id="selectById" parameterType="Long" resultType="com.yrxc.horse.entity.User">
        select * from th_user_new where id=#{id}
    </select>
    <insert id="insertUser" parameterType="com.yrxc.horse.entity.User" >
        insert into th_user_new(id,uname,regip,regdate,ycode)
        values(#{id},#{uname},#{regip},#{regdate},#{ycode})
    </insert>
    <update id ="updateUser" parameterType="com.yrxc.horse.entity.User">
        update th_user_new set regip=#{regip} where uname=#{uname}
    </update>
    <update id="updateCoins" parameterType="com.yrxc.horse.entity.User">
        update th_user_new set coins=coins+ #{coins} where uname=#{uname};
    </update>

    <delete id="deleteUser" parameterType="Long">
        delete from th_user_new where id=#{id}
    </delete>

</mapper>